<%- include('partials/header') -%>
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<h2><%= event.name %></h2>
			<div class="imageContainer">
				<img id="rockets" class="" src="<%= event.feature_image%>" />
			</div>
		</div>
		<div class="col-3 mt-5">
			<time class="published info" datetime="2015-11-01">
				<%= moment(event.date).format('Do MMMM, YYYY, h:mm:ss a')%>
			</time>
			<p><%= event.description%></p>
		</div>
		


		</div>
	</div>
  <div class="buttonContainer">
    <a class="feedReturn btn btn-primary" href="/events">Return to Feed</a>
  </div>

</div>
<%- include('partials/footer') -%>
