<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <h1 class="feed">Upcoming Events</h1>
      <% for(let i=0; i<events.length; i++) {%>
          <article class="post">
            <div class="postBody">
              <div class='postImage'>
                <img id="rockets"  src="<%= events[i].feature_image%>" alt="" />
              </div>
              <div class = 'postInfo'>
                <h1 class="missionTitle info"><a href="single.html"><%= events[i].name%></a></h1>
                


                <time class="published info" datetime="2015-11-01">
                  <%= moment(events[i].date).format('Do MMMM, YYYY, h:mm:ss a')%>
                </time>

                <p class="info"><%= events[i].description%></p>
                <span class="info" >Event Type : <%= events[i].type.name%></span>
                <ul class="actions">
                  <li class="continue">
                    <a href="/post/event/<%= events[i].id%>" class="button large">Continue Reading</a>
                  </li>
                </ul>
              </div>
            </div>
          </article>
      <% } %>
    </div>
  </div>  
<%- include('partials/footer') -%>