<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <% for(let i=0; i<launches.length; i++) {%>
          <article class="post">
            <div class="postBody">
              <div class='postImage'>
                <img id="rockets" src="<%= launches[i].image%>" alt="" /></a>
              </div>
              <div class = 'postInfo'>
                <h1 class="missionTitle"><a href="single.html"><%= launches[i].mission.name%></a></h1>
                <a href="#" class="author"><span class="name"><%= launches[i].launch_service_provider.name%></span></a>
                <time class="published" datetime="2015-11-01"><%= launches[i].window_start%></time>
                <p><%= launches[i].pad.location.name%></p>
                <span ><%= launches[i].status.name%></span>
                <ul class="actions">
                  <li><a href="/post/<%= launches[i].id%>" class="button large">Continue Reading</a></li>
                </ul>
              </div>
            </div>
          </article>
      <% } %>
    </div>
    <aside class="sidepanel">
      <h2 class="aside">Events</h2>
      <% for(let i=0; i<events.length; i++) {%>
        <div class="eventCard">
          <div class='eventImage'>
            <img id= 'eventImage' class="eventImage" src="<%= events[i].feature_image%>">
          </div>
          <div class="eventInfo">
            <p><%= events[i].name%></p>
            <span><%= events[i].type.name%></span>
          </div>
        </div>
      <% } %>
    </aside>
  </div>  
<%- include('partials/footer') -%>