<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<launches.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <img class="img-fluid" src="<%= launches[i].image%>">
            <p>Date: <%= launches[i].window_start%></p>
            <p>Mission: <%= launches[i].mission.name%></p>
            <p>Rocket: <%= launches[i].rocket.configuration.name%></p>
            <p>Agency: <%= launches[i].launch_service_provider.name%></p>
            <p>Location: <%= launches[i].pad.location.name%></p>
            <p>Countdown: ~~</p>


          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>