<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <% for(var i=0; i<launches.length; i++) {%>
          <article class="post">
            <div class="postBody">
              <div class='postImage'>
                <img id="rockets" src="<%= launches[i].image%>" alt="" /></a>
              </div>
              <div class = 'postInfo'>
                <h1 class="missionTitle"><a href="single.html"><%= launches[i].mission.name%></a></h1>
                <a href="#" class="author"><span class="name"><%= launches[i].launch_service_provider.name%></span></a>
                <time class="published" datetime="2015-11-01"><%= launches[i].window_start%></time>
                <p><%= launches[i].pad.location.name%></p>
                <span ><%= launches[i].status.name%></span>
                <ul class="actions">
                  <li><a href="/post/<%= launches[i].id%>" class="button large">Continue Reading</a></li>
                </ul>
              </div>
            </div>
          </article>
      <% } %>
    </div>
    <aside class="sidepanel">
      <h2>Space News</h2>
      <article class="news">article 1</article>
      <article class="news">article 1</article>
      <article class="news">article 1</article>
    </aside>
  </div>  
<%- include('partials/footer') -%>